# Cowrie data and logs
# Python virtual environment (if you created one locally for testing)
cowrie-env/

# IDE/Editor specific files (optional, add as needed)
.vscode/
.idea/
*.pyc
__pycache__/
*.pyo
.DS_Store
