[user]
    name = John Doe
    email = jdoe@companyserver.com
[core]
    editor = vim
    excludesfile = /home/jdoe/.gitignore_global
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
    default = simple
[pull]
    rebase = false
[color]
    ui = auto